.loginScreen {
    position: relative;
    height: 100%;
    background: url("https://mebincdn.themebin.com/1664271579476.jpg") center no-repeat;
    background-size: cover;
}

.loginScreen__gradient {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4) linear-gradient(
            to top,
            rgba(0, 0, 0, 0.8) 0,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0.8) 100%
    );
}

.loginScreen__body {
    z-index: 1;
    color: white;
    width: 100%;
    padding: 20px 0;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

.loginScreen__body > h1 {
    font-size: 3.1rem;
    margin-bottom: 20px;
}

.loginScreen__body > h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.loginScreen__body > h3 {
    font-size: 1.3rem;
    font-weight: 400;
}

.loginScreen__logo {
    position: fixed;
    left: 0;
    width: 150px;
    padding-left: 20px;
    object-fit: contain;
}

.loginScreen__sign-in-button {
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    color: white;
    background-color: #e50914;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.loginScreen__formContainer {
    margin: 20px 0;
}

.loginScreen__formContainer > form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginScreen__formContainer > form > input {
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: none;
    max-width: 600px;
}

.loginScreen__submitButton {
    padding: 16px 20px;
    font-size: 1rem;
    color: white;
    background-color: #e50914;
    border: none;
    font-weight: 600;
    cursor: pointer;
    max-height: 50px;
}